.big-font {
  font-size:30px;
}

body {
  font-family:Arial, sans-serif;
  padding:50px;
}

#submit {
  background-color:tomato;
  color:white;
}

input, #submit {
  border:none;
  border-radius:5px;
  padding:5px;
}

input {
  background-color: tomato;
  color:white;
}

h3 {
  font-size:30px;
}