.big-font {
  font-size:30px;
}

body {
  font-family:Arial, sans-serif;
  padding:50px;
}

#submit {
  background-color:tomato;
  color:white;
}

input, #submit {
  border:none;
  border-radius:5px;
  padding:5px;
}

input {
  background-color: tomato;
  color:white;
}

h3 {
  font-size:30px;
}

.box {
  background:#f7f7f7;
  border-radius:10px;
  display:block;
  margin:10px;
  padding:20px;
  border-top:1px solid #666;
  float:left;
}

.box h3 {
  padding:0;
  margin:0;
  font-size:20px;

}